@charset "utf-8";
/* CSS Document */

body {
background-color: #d9d9d9;
padding: 10px;
padding-bottom: 60px;
}

#navbarNav {
background-color: #ffe6ff;
}

.row {
}

.container {
}

.responsive {
}

.me {
font-family: "Times New Roman";
padding-bottom: 100px;
}

.me_img {
width: 200px;
padding-left: 5px;
padding-top: 5px;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #555555;
   color: white;
   text-align: center;
}

.intro {
padding: 15px;
text-align: center;
}

div.stairs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}

.col-sm-4 {
  display: block;
  text-align: center;
}

div.winter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 20px;
}

h1 {
padding-top: 20px;
padding-left: 10px;
}